/* .text-wrap {
  white-space: normal;
}
 */
/* 
.textreader {
  width: 65%; */
/* padding: 1rem; */
/* border: 1px solid rgba(0, 0, 0, 0.397); */
/* margin: 1rem; */
/* } */

.text-reader {
  white-space: pre-wrap;
  line-height: 2;
}

.text-reader p {
}
