/* .text-wrap {
  white-space: normal;
}
 */

.searchable-word:hover {
  background-color: aqua;
}

.text-reader {
  white-space: pre-wrap;
  /* word-break: break-all; */

  /* width: 80%; */
}

.text-reader p {
}
