.signin {
  padding-top: 5rem;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  form {
    text-align: center;
    // min-width: 40%;
    button {
      width: auto;
      margin-right: 0.2rem;
    }
    ul {
      padding: 0;
      list-style: none;
      li {
        text-align: initial;
        display: flex;
        justify-content: flex-start;
        label {
          width: 40%;
        }
        input {
          width: 60%;
        }
      }
    }

    input {
      width: 5rem;
    }
  }
}
