.account-content .remove-button-unloaded {
  float: right;
  /* display: none; */
}

.saved-words ul li span > p {
  display: inline-block;
}
.account-content span {
  /* float: left; */
}
.account-content .saved-words {
  width: 65%;
}
