@import "../../styles/mixinresponsive.scss";

.word-list {
  list-style: none;
  padding-left: 0;

  .display-flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  li {
    span {
      // width: 100%;

      .word-unloaded {
        // justify-self: flex-start;
        // display: flex;
        // margin-right: auto;
        // justify-content: space-between;
        // align-items: center;
        // width: 100%;
      }
      .remove-button-unloaded {
        // display: flex;
        // margin-left: auto;
        // justify-self: flex-end;
        // display: none;
      }
    }
  }
}

@include breakpoint(md) {
}
