@import "../../styles/mixinresponsive.scss";

.word-list {
  list-style: none;
  padding-left: 0;

  // .display-flex {
  //   width: 100%;
  //   // display: flex;
  //   justify-content: space-between;
  // }

  button {
    margin-right: 0.3rem;
  }

  > li {
    margin: 0.9rem 0;
    padding: 0.5rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    .account-buttons {
      float: right;
    }
  }
}

@include breakpoint(md) {
  position: relative;

  // .account-main {
  //   direction: rtl;
  //   .ltr-wrapper {
  //     direction: ltr;
  //   }
  // }
}
