.random-word {
  display: flex;
  flex-direction: column;
}

.random-word > button {
  align-self: flex-start;
  display: inline-block;
  float: none;
  margin-bottom: 1rem;
}

.testLink {
  cursor: pointer;
  font-weight: bold;
  color: blue;
}
