.clickable {
  cursor: pointer;
  transition: all 0.2s ease;
}
.clickable:hover {
  /* border-radius: 40%; */
  background-color: white;
}

.definition {
  width: 100%;
  display: block;
  flex: 1;
}

.word-heading {
  font-size: 1.6rem;
  /* color: green; */
  animation: fade-in 1s ease;
}

.word-unloaded {
  cursor: pointer;
  font-size: 1.6rem;
}

.word {
  font-size: 1.4rem;
  margin-left: 1rem;
}

.pos {
  font-size: 1.2rem;
  margin-left: 1rem;
}
span {
  /* display: flex;
  justify-content: space-between; */
}

.def-buttons {
  /* border: 1px solid red; */
  display: flex;
  /* width: auto; */
  /* height: auto; */
  justify-content: flex-end;
  flex-wrap: wrap;
  /* white-space: wrap; */
  /* float: right; */
}
.def-buttons button {
  margin-left: 0.2rem;
  font-size: 0.8em;
}
/* .add-button,
.remove-button,
.translate {
  float: right;
} */

.blinking-button {
  animation: blinking-btn 2s ease infinite;
}

@keyframes fade-in {
  0% {
    color: #439775;
    opacity: 0;
    /* transform: translateY(20px); */
  }
  50% {
    opacity: 1;
    /* transform: translateY(0); */
  }
  100% {
    color: black;
  }
}

@keyframes blinking-btn {
  0% {
    color: white;

    background-color: #2a4747;
  }
  50% {
    color: #439775;
    background-color: white;
  }
  100% {
    color: white;

    background-color: #2a4747;
  }
}
